/* ==========================================================================
   Navigation
   ========================================================================== */

body {
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 1.3em;
  color: white;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.active {
  font-weight: bold !important;
}
.navbar {
  color: white;
  text-decoration: none;
}

/* ==========================================================================
   Forecast
   ========================================================================== */

.celsius .forecast-day .forecast-fahr, .fahrenheit .forecast-day .forecast-cel {
  display: none;
}

/* ==========================================================================
   Places List
   ========================================================================== */


.panel-body div {
  display: none;
}
.detail .panel-body div {
  display: inline-block !important;
}
.panel-body div:nth-child(1) {
  display: inline-block;
}
